html{
    background-color: #fdf5df;
    font-family: sans-serif;
}

img{
    width: 300px;
    height: auto;
}

ul, p, ol{
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6, ul, p, ol{
    color: #489fa5;
}

a{
    display: block;
    height: 2em;
    width: 6em;
    background-color: #489fa5;
    margin-bottom: 0.5em;
    border: 1px solid black;
}

a:hover{
    background-color: #2d6266;
}

a:hover, a:visited, a:active, a:link{
    text-decoration: none;
    color: #ffc31e;
}